In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import xgboost as xg 
from sklearn.model_selection import train_test_split

In [38]:
data = pd.read_csv('meningitis_dataset.csv')
drop_cols = ['surname', 'firstname', 'middlename', 'date_of_birth', 'report_date', 'serotype', 'null_serotype', 'age_str', 'child_group', 'adult_group', 'gender_male', 'gender_female', 'urban_settlement', 'rural_settlement', 'gender_male', 'id', 'NmA', 'NmC', 'NmW', 'unconfirmed', 'confirmed', 'alive', 'dead', 'state']

data = data.drop(columns=drop_cols)
data

,gender,settlement,report_year,age,disease,cholera,diarrhoea,measles,viral_haemmorrhaphic_fever,meningitis,ebola,marburg_virus,yellow_fever,rubella_mars,malaria,health_status,report_outcome
0,Female,Rural,2018,32,Cholera,1,0,0,0,0,0,0,0,0,0,alive,confirmed
1,Male,Rural,2017,32,Marburg Virus,0,0,0,0,0,0,1,0,0,0,Alive,Confirmed
2,Female,Urban,2012,24,Marburg Virus,0,0,0,0,0,0,1,0,0,0,Dead,Not Confirmed
3,Female,Rural,2010,63,Measles,0,0,1,0,0,0,0,0,0,0,Alive,Not Confirmed
4,Male,Urban,2017,9,Rubella Mars,0,0,0,0,0,0,0,0,1,0,Alive,Confirmed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284479,Female,Rural,2012,67,Ebola,0,0,0,0,0,1,0,0,0,0,Dead,Confirmed
284480,Female,Urban,2009,64,Ebola,0,0,0,0,0,1,0,0,0,0,Dead,Confirmed
284481,Female,Rural,2010,33,Malaria,0,0,0,0,0,0,0,0,0,1,Alive,Confirmed
284482,Male,Rural,2016,18,Malaria,0,0,0,0,0,0,0,0,0,1,Dead,Not Confirmed
284483,Female,Urban,2013,7,Yellow Fever,0,0,0,0,0,0,0,1,0,0,Alive,Confirmed

In [36]:
# data = data.drop(columns=data.columns[6:10])

In [37]:
data.info()


print(data.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284484 entries, 0 to 284483
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gender       284484 non-null  object
 1   settlement   284484 non-null  object
 2   report_year  284484 non-null  int64
 3   age          284484 non-null  int64
 4   disease      284484 non-null  object
 5   cholera      284484 non-null  int64
dtypes: int64(3), object(3)
memory usage: 13.0+ MB
Index(['gender', 'settlement', 'report_year', 'age', 'disease', 'cholera'], dtype='object')

        gender settlement  report_year  age health_status report_outcome
0       Female      Rural         2018   32         alive      confirmed
1         Male      Rural         2017   32         Alive      Confirmed
2       Female      Urban         2012   24          Dead  Not Confirmed
3       Female      Rural         2010   63         Alive  Not Confirmed
4         Male      Urban         2017    9         Alive      Confirmed
...        ...        ...          ...  ...           ...            ...
284479  Female      Rural         2012   67          Dead      Confirmed
284480  Female      Urban         2009   64          Dead      Confirmed
284481  Female      Rural         2010   33         Alive      Confirmed
284482    Male      Rural         2016   18          Dead  Not Confirmed
284483  Female      Urban         2013    7         Alive      Confirmed

[284484 rows x 6 columns]