In [2]:
import pandas as pd
import numpy as np
from xgboost import XGBClassifier

In [4]:
data = pd.read_csv('timespent_new.csv')
data

,Code,Year,Time spent alone by age of respondent (United States),Time spent with friends by age of respondent (United States),Time spent with children by age of respondent (United States),Time spent with with parents siblings and other family by age of respondent (United States),Time spent with partner by age of respondent (United States),Time spent with coworkers by age of respondent United States
0,USA,15,19.330.588,1.094.145,23.463.852,26.712.091,14.627.736,83.420.067
1,USA,16,20.637.056,1.107.418,28.609.867,2.543.381,30.690.858,23.529.137
2,USA,17,22.417.331,12.041.887,26.089.708,22.981.561,11.228.406,43.809.685
3,USA,18,24.269.839,13.775.107,27.387.308,23.635.201,56.972.671,81.633.575
4,USA,19,26.779.385,12.985.716,36.445.004,2.012.766,19.341.291,12.485.052
...,...,...,...,...,...,...,...,...
61,USA,76,45.649.493,41.503.906,44.339.306,51.955.276,26.623.712,19.662.245
62,USA,77,4.543.125,33.595.589,46.719.131,67.455.605,27.273.013,1.247.935
63,USA,78,46.163.959,39.297.825,42.985.035,59.704.296,25.641.376,32.494.414
64,USA,79,48.583.075,41.975.792,38.609.028,51.944.447,2.353.701,45.325.632
65,USA,80,47.676.736,35.589.745,45.010.258,66.100.365,22.704.634,52.152.042

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 8 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Code                                                                                         66 non-null     object
 1   Year                                                                                         66 non-null     int64
 2   Time spent alone by age of respondent (United States)                                        66 non-null     object
 3   Time spent with friends by age of respondent (United States)                                 66 non-null     object
 4   Time spent with children by age of respondent (United States)                                66 non-null     object
 5   Time spent with with parents siblings and other family by age of respondent (United States)  66 non-null     object
 6   Time spent with partner by age of respondent (United States)                                 66 non-null     object
 7   Time spent with coworkers by age of respondent United States                                 66 non-null     object
dtypes: int64(1), object(7)
memory usage: 4.2+ KB